# Banco de dados MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=usuario_do_banco
DB_PASSWORD=senha_do_banco
DB_NAME=nome_do_banco
DB_TABLE=nome_da_view_ou_tabela

# Google Sheets
GOOGLE_SPREADSHEET_ID=id_da_planilha_aqui
GOOGLE_SERVICE_ACCOUNT_KEY_PATH=./credentials.json